.root {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", "System";
    -fx-font-size: 13px;
}

.list-cell {
    -fx-background-color: transparent;
}

.label {
    -fx-text-fill: #111;
}
